.viewMore {
  font-weight: bold;
}

.grid {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.genre {
  color: var(--color-text-light);
}

.gameInfo {
  color: var(--color-text-light);
}

.viewMore {
  color: var(--color-accent);
}
