.container {
    padding: 20px 70px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.grid {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.placeholder {
    width: 268px;
    height: 268px;
    background-color: #d3d3d3;
    flex-shrink: 0;
}