.HeroContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px auto;
  padding-top: 20px;
}

.centralRectangle {
  display: relative;
  width: 800px;
  height: 400px;
  background-color: #a9a9a9;
  background-image: url("https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_1240/b_white/f_auto/q_auto/store/software/switch/70010000020840/60eebc8f7133f685eddbffbe43c8da617ba0a5d699f2008f9c31c6119d1792af");
  background-size: cover;
  background-position: center;
}
