.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: var(--font);
}

/* Reset default margin/padding */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: "Nunito", sans-serif;
    --font-display: "Press Start 2P", system-ui;

    --color-primary: #1d3461;
    --color-secondary: #ced3dc;
    --color-accent: #00f6ed;
    --color-success: #16a34a;
    --color-warning: #eab308;
    --color-danger: #dc2626;

    --color-text: #111827;
    --color-text-light: #fcf7f8;

    --space-xxs: 0.25rem;
    --space-xs: 0.5rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-2xl: 3rem;
    --space-3xl: 4rem;

    --radius-sm: 0.25rem;
    --radius-md: 0.5rem;
    --radius-lg: 1rem;

    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.card-selection{
    width: 268px;
    height: 268px;
    color:aquamarine;
    border: 1px black;
}
.Desc{
    text-align: center;
    padding-top: 20px;
}